    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
    }
    
    body {
        background: #ffffff;
        font-size: 12px;
        line-height: 20px;
        color: #1f1e1e;
    }
    
    .bold {
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .semi-bold {
        font-weight: 500;
        font-size: 16px;
    }
    
    .resume {
        width: 800px;
        height: auto;
        display: flex;
        margin: 50px auto;
        background-color: #ffffff;
        box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    }
    
    .resume .resume_left {
        width: 280px;
        background: rgb(225, 225, 225);
    }
    
    .resume .resume_right {
        background: #ffffff;
        padding: 25px;
    }
    
    .resume .resume_left .resume_profile {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .resume .resume_left .resume_profile img {
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }
    
    .resume .resume_left .resume_content {
        padding: 0 30px;
    }
    
    .resume .title {
        margin-bottom: 20px;
    }
    
    .resume .resume_left .bold {
        color: #000000;
    }
    
    .resume .resume_item {
        padding: 25px 0;
        border-bottom: 2px solid black;
        margin-bottom: 20px;
    }
    
    .resume .resume_left .resume_item:last-child,
    .resume .resume_right .resume_item:last-child {
        border-bottom: 0px;
        margin-bottom: 70%;
        padding-top: 40px;
    }
    
    .resume .resume_left .resume_item:last-child ul,
    .resume .resume_right .resume_item:last-child ul {
        display: flex;
        justify-content: space-evenly;
    }
    
    .resume .resume_left ul li {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }
    
    .resume .resume_left .resume_content .resume_skills ul li {
        display: block;
        margin-bottom: 10px;
        align-items: center;
    }
    
    .resume .resume_left ul li .icon {
        width: 35px;
        height: 35px;
        background: #fff;
        border-radius: 50%;
        margin-right: 15px;
        font-size: 16px;
        position: relative;
        cursor: pointer;
    }
    
    .resume .icon i,
    .resume .resume_right .resume_hobby ul li i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* .resume .resume_left .resume_skills ul li {} */
    
    .resume .resume_left .resume_skills ul li .skill_name {
        width: 25%;
    }
    
    .resume .resume_left .resume_skills ul li .skill_progress {
        width: 60%;
        margin: 5px 0;
        height: 5px;
        background: #ffffff;
        position: relative;
    }
    
    .resume .resume_left .resume_skills ul li .skill_progress span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #8495e6;
    }